.auth {
    
    --form-gap: 2rem;
    width: 100vw;
    min-height: 100vh;

    position: relative;

    display: grid;
    grid-template-columns: 60rem 1fr;

    background-color: var(--bg-light-alt);

    @include ipadPro {
        grid-template-columns: 35rem 1fr;
    }

    @include ipad {
        grid-template-columns: 1fr;
    }

    * {
        user-select: none;
    }
    

    &__img {
        height: 100%;
        width: 100%;

        overflow: hidden;
        position: relative;


        picture, img {
            @include cover;
        }

        span {
            @include overlay;
            background-image: linear-gradient(rgba(black, .4), transparent);
        }

        @include ipad {
            grid-row: 1 / 2;
            height: 50rem;
            span {
                background-image: linear-gradient(rgba(black, .55), transparent);
            }
        }

        @include phone {
            height: 30rem;
        }
    }

    &__content {

        padding: 15rem 0 10rem 0;

        position: relative;
        overflow: visible;
        z-index: 10;

        @include flexCenter;

        background-color: var(--white);
        @include dark { background-color: var(--bg-dark); }

        &.window {
            background-color: var(--bg-light-alt);
            @include dark { background-color: var(--bg-dark); }
        }

        @include ipadPro {
            align-items: flex-start;
        }

        @include ipad {
            align-items: center;
            justify-content: flex-start;
            padding: 0;
            padding-bottom: 10rem;
            min-height: calc(100vh - 50rem);
        }
        
    }

    .window &__container {
        box-shadow: var(--window-shadow);
        background-color: var(--white);
        @include dark { background-color: var(--card-dark); }
        left: 10rem;

        @include ipad {
            left: auto;
            top: -10rem;
        }

        @include phone {
            top: -5rem;
        }
    }

    &__container {
        position: relative;
        width: 100%;
        padding: 6rem 5rem;

        h2 {
            margin-bottom: 1rem;
            @include dark {
                color: var(--white);
            }
        }

        h2 + p {
            margin-bottom: 4rem;
        }

        p {
            //margin-bottom: var(--form-gap);
            font-size: 1.8rem;
            color: var(--text-dark);
        }

        .input__tooltip p {
            font-size: $h6;
            color: var(--white);
        }

        @include ipadPro {
            width: 65rem;
        }

        @include phone {
            width: 92%;
            padding: 5rem 3rem;
        }

        @include iphone {
            width: 95%;
            padding: 4.5rem 2rem;
        }
    }

    &__form {
        .input {
            margin-bottom: var(--form-gap);
        }

        
    }

    &__or {
        text-align: center;
        margin-bottom: var(--form-gap);
    }

    &__providers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--form-gap);
        margin-bottom: var(--form-gap);

        @include phone {
            grid-template-columns: 1fr;
        }
    }

    &__reset-btn {

        color: var(--primary);
        cursor: pointer;

        transition: opacity $dt;
        font-size: 1.8rem;

        display: block;
        width: max-content;

        margin-top: var(--form-gap);

        &:hover {
            opacity: .75;
        }
    }

}