@keyframes blink {
    from, to {
      //color: transparent;
        opacity: 0;
    }
    50% {
      //color: black;
        opacity: 1;
    }
  }

.header {

    --header-height: 60rem;
    --header-font-size: #{$h1};
    --header-font-weight: 400;

    &.hero {
        --header-height: 85vh;
        --header-font-size: #{$hero};
        --header-font-weight: 300;
        @include respond(phone) {
            --header-font-size: #{$h1};
        }

    }

    height: var(--header-height);
    padding: 0 var(--x-pad);
    z-index: 10;

    position: relative;


    &__bg {
        @include overlay;
        overflow: hidden;

        picture, img {
            width: 100%;
            @include ipad {
                height: 100%;
                object-fit: cover;
            }
        }

        z-index: -1;

        span {
            @include overlay;
        }
    }

    &__content {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include respond(iphone) {
            height: 65%;
        }
    }

    &__headline {
        font-size: var(--header-font-size);
        color: var(--white);
        font-weight: var(--header-font-weight);
        margin-bottom: 1rem;

        span {
            color: var(--primary);
            font-weight: 400;

            &.blink {
                animation: 1s blink step-end infinite;
            }
        }
    }

    &__subtitle {
        color: var(--white);
        font-size: $h4;

        @include respond(phone) {
            font-size: $h5;
        }
    }


    &__cta {
        position: absolute;
        bottom: -2rem;
        right: var(--x-pad);

        padding: 4rem;

        background-color: var(--primary);
        transition: bottom $dt, box-shadow $dt;

        &, &:link, &:visited {
            color: var(--white);

            svg {
                stroke: currentColor;
                fill: transparent;
            }

            @include dark {
                color: var(--jet);
            }
        }

        &:hover {
            opacity: 1;
            bottom: -1.5rem;
            box-shadow: var(--window-shadow);
        }

        h6 {
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1.4rem;
            opacity: .75;
        }
    }

}