.multipart {
    padding: var(--y-pad) var(--x-pad);
    position: relative;
    overflow: hidden;


    &__container {

        position: relative;
        max-width: var(--x-max);
        margin: 0 auto;

        .section__content {
            max-width: 60rem;

            h2 {
                color: var(--white);
            }

            p {
                color: rgba(white, .7);

                @include phone {
                    color: rgba(white, .8);
                }
            }
        }

    }

    &__bg {
        position: absolute;
        height: 100%;
        width: 100%;

        top: 0;
        left: 0;

        display: flex;
        align-items: center;

        @include ipadPro {
            display: block;
        }

        picture, img { width: 100%; }

        img {
            @include ipadPro {
                position: relative;
                height: 100%;
                object-fit: cover;
            }
        }

        span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            background-image: linear-gradient(to right, rgba(#76402A, .5), transparent);

            @include dark {
                background-color: rgba(black, .5);
            }

            @include phone {
                background-image: linear-gradient(rgba(#76402A, .5), rgba(#76402A, .5));
                background-color: rgba(black, .5);
            }
        }
    }

}


.multicol {

    @include dark {
        background-color: var(--bg-dark);
    }

    padding: var(--y-pad) var(--x-pad);

    &__container {
        position: relative;
        max-width: var(--x-max);
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15rem;

        @include dark {
            h2 { color: var(--white); }
        }

        @include ipad {
            grid-template-columns: 1fr;
        }
    }

}


.image-banner, .text-banner {

    @include flexCenter;
    position: relative;
    padding: var(--x-pad);
    overflow: hidden;


    &__text {
        position: relative;
        font-size: $hero;
        font-weight: 300;
        text-align: center;
        line-height: 1.4;

        @include dark {
            color: var(--white);
        }

        @include ipad {
            font-size: $h1;
        }

        span {
            color: var(--primary);
            font-weight: 400;
        }
    }

}


.image-banner {
    min-height: 60rem;

    &__text {
        color: var(--jet);

        @include dark {
            color: var(--white);
        }
    }

    &__bg {
        
        @include overlay;

        display: flex;
        align-items: center;

        picture, img {
            width: 100%;

            @include ipad {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        img {
            @include dark { opacity: .2; }
        }

    }
}


.text-banner {
    min-height: 30rem;
    &__text {
        
        color: var(--white);

        span { font-weight: 300; }
    }
}


.grid-banner {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50rem;
    overflow: hidden;

    @include ipad {
        height: 40rem;
    }

    @include phone {
        grid-template-rows: repeat(3, 1fr);
        height: 50rem;
    }

    picture, img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        @include dark {
            opacity: .8;
        }
    }

    &__castle {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        @include phone {
            grid-column: 1 / 2;
        }

    }

    &__hogwarts {
        grid-row: 1 / 3;
        grid-column: 2 / 4;
        @include phone {
            grid-column: 2 / 5;
        }
    }

    &__rocket {
        grid-row: 1 / 2;
        grid-column: 4  / 5;
        @include phone {
            grid-row: 3 / 4;
            grid-column: 1 / 3;
        }
    }

    &__palms {
        grid-row: 2 / 3;
        grid-column: 4  / 5;
        @include phone {
            grid-row: 3 / 4;
            grid-column: 3 / 5;
        }
    }

}


.immersive {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include ipad {
        grid-template-columns: 60% 1fr;
    }

    @include phone {
        grid-template-columns: 1fr;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--y-pad) 0;
        padding-left: var(--x-pad);

        .section__content {

            max-width: 50rem;

            h2 {
                color: var(--white);
            }
            
        }

        @include phone {
            padding: var(--y-pad) var(--x-pad) 0 var(--x-pad);
        }
    }

    &__img {
        overflow: hidden;
        position: relative;
        
        picture, img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;

            @include ipad {
                object-position: 25% 0%;
            }

            @include phone {
                object-position: bottom;
            }
        }

    }

}


.dualcol {

    background-color: var(--bg-light-alt);

    display: grid;
    
    &.beyond {
        grid-template-columns: 60% 1fr;

        @include ipad {
            grid-template-columns: 1fr;
        }

        .section__content h2 {
            font-weight: 300;
            color: #697C89;

            @include dark {
                color: #fff;
            }

            span {
                color: #697C89;
                font-weight: 400;

                @include dark {
                    color: #fff;
                }

                &:last-child {
                    font-weight: 300;
                    color: #D6DFE5;
                    @include dark {
                        color: rgba(#fff, .5);
                    }
                }
            }
        }

        .section__content p {
            @include dark {
                color: #cfcfcf;
            }
        }
    }

    &.more-about {
        grid-template-columns: 1fr 1fr;
        @include ipad {
            grid-template-columns: 1fr;
        }
    }

    &__text {
        padding: var(--y-pad) var(--x-pad);
        display: flex;
        align-items: center;
        justify-content: center;

        .section__content {
            max-width: 60rem;
        }
    }

    &__img {

        position: relative;
        overflow: hidden;

        @include ipad {
            height: 25rem;
        }

        picture, img {
            @include overlay;
            object-fit: cover;
        }

    }

    &.beyond &__img {

        @include dark {
            opacity: .5;
        }

        @include ipad {
            margin: var(--y-pad) auto 0 auto;
            
            height: 40rem;
            width: 60rem;

            position: relative;
        
            grid-row: 1 / 2;

            picture, img {
                object-position: bottom;
            }
        }

        @include phone {
            width: 100%;
            margin: 0;
            grid-row: 2 / 3;
        }

    }


    &.more-about {

        @include dark {
            background-color: #222;
        }

        h2 {
            @include dark {
                color: #fff;
            }
        }
        
        .dualcol__img {

            @include dark {
                opacity: .7;
            }

            @include ipad {
                height: 45rem;
                grid-row: 1 / 2;
            }
        }

    }

}