.review {

    width: 45rem;
    background-color: var(--white);

    padding: 5rem;

    box-shadow: var(--window-shadow);

    @include dark {
        background-color: var(--card-dark);
    }

    @include phone {
        width: 80vw;
        padding: 4rem 3rem;
    }

    h5 {
        margin-bottom: 2rem;
        @include dark {
            color: var(--white);
        }
    }

    p {
        color: var(--text-dark);
        margin-bottom: 3rem;

        @include dark {
            color: var(--text-light);
        }
    }


    &__stars {

        margin-bottom: 2rem;

        .star {
            &, &-outline {
                height: 1.8rem;
                width: 1.8rem;
                stroke: var(--primary);
            }

            &-outline {
                fill: transparent;
            }

            fill: var(--primary);
        }
    }


    &__author {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 2rem;
        align-items: center;

        img {
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
        }

        h4 {
            font-size: $h5;
            margin-bottom: .5rem;
        }

        h6 {
            color: var(--text-dark);

            @include dark {
                color: var(--white);
            }
        }

    }

    &__ghost {
        width: var(--x-pad);
        pointer-events: none;
    }

}