node_modules/
*.env
.cache/
.parcel-cache/
*.code-workspace
dist/
.parcel-cache
*.code-workspace
cloud_keys.json
united-travel.code-workspace
google-credentials.json
client/public/*.js
client/public/*.map
client/public/js/*.js
client/public/js/*.map
client/public/style/*.css
client/public/style/*.map