.btn-pill {

    --btn-bg: var(--jet);
    --btn-border: var(--jet);
    --btn-text: var(--white);

    font-size: $p-small;
    padding: 2rem 4.8rem;
    border-radius: 6rem;

    display: block;
    width: max-content;

    // Button Theme
    @include link {
        color: var(--btn-text);
        border: 2px solid var(--btn-border);
        background-color: var(--btn-bg);
    }

    // Hover Behaviors
    &.hollow {
        background-color: transparent;

        @include link {
            &:hover {
                opacity: 1;
                background-color: var(--primary);
                border-color: var(--primary);
                color: var(--jet);
            }
        }
    }

    &.filled {
        background-color: var(--btn-bg);
        border-color: var(--btn-border);
        color: var(--btn-text);

        &:hover {
            opacity: .9;
        }
    }

    // Theme Definitions
    &.white {
        --btn-bg: var(--white);
        --btn-border: var(--white);
        --btn-text: var(--white);
    }

    &.dark {
        --btn-bg: var(--jet);
        --btn-border: var(--jet);
        --btn-text: var(--jet);
    }

    &.primary {
        --btn-bg: var(--primary);
        --btn-border: var(--primary);
        --btn-text: var(--jet);
    }

}



