.input {

    &__input {

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1.6rem 2.4rem;
        background-color: var(--slate-light);
        border-radius: 0.8rem;
        border: 3px solid var(--slate-light);

        transition: border $dt;

        &:focus-within {
            border-color: var(--slate);
        }

        svg {
            color: var(--slate-dark);
        }

        &.has-error {
            border-color: var(--error);
        }

    }

    &__main {
        flex-grow: 1;
        display: flex;
        align-items: center;
        @include flexGap(2.4rem);
        

        label {
            font-size: $p-small;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 4px;
            color: var(--slate);
            user-select: none;
        }

        input {
            display: block;
            font-size: $p;
            line-height: 1.7;
            margin: 0;
            padding: 0;
            border: none;
            background: none;
            color: var(--jet);
            width: 100%;

            &:focus {
                outline: none;
            }
        }

        hr {
            height: 4.8rem;
            width: 3px;
            background-color: var(--placeholder);
        }
    }

    &__toggle {
        align-self: stretch;
        display: flex;
        align-items: center;
        padding-left: 1.2rem;
        cursor: pointer;

        transition: opacity $dt;

        &:hover {
            opacity: 0.75;
        }
    }

    &__field {
        flex-grow: 1;
    }

    &__errors {
        padding-top: 1.2rem;
    }

    &__error {
        display: flex;
        align-items: center;

        user-select: none;

        svg {
            color: var(--error);
            margin-right: 1.2rem;
        }
    }

}