.nav-menu {

    $s: &;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    height: 100vh;
    width: 100vw;

    &.hidden {
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100vw);
    }

    &__bg {

        --bg-size: calc(var(--nav-min-size) * 0.5);

        position: fixed;
        top: calc(var(--nav-min-top) + calc(var(--bg-size) * 0.5));
        right: calc(var(--nav-min-right) + calc(var(--bg-size) * 0.5));
        height: var(--bg-size);
        width: var(--bg-size);
        border-radius: 50%;
        background-color: var(--jet);
    }

    &__desktop {

        height: 100%;
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-gap: 9.6rem;
        padding: var(--nav-min-top) var(--nav-min-right);
        
        @include ipadPro {
            display: none;
        }
        

        #{$s}__visual {
            position: relative;
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            padding: 4.8rem;

        }

        #{$s}__image {
            @include overlay;
            border-radius: 2.4rem;
            overflow: hidden;

            img {
                @include cover;
            }
        }

        #{$s}__brand {
            position: relative;
            display: flex;
            align-items: center;
            color: var(--jet);
            @include flexGap(1.2rem);

            svg {
                height: 2.2rem;
                width: 4rem;
            }
        }

        #{$s}__content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .content {
                .btn-pill {

                    @include link {
                        transition: none;
                    }

                }
            }
        }

        nav {

            ul {
                display: flex;
                @include flexGap(3.6rem);
            }

            li {
                font-size: $h4;
            }

            a:not(.active) {
                color: var(--white);
            }

        }

        #{$s}__cta {
            margin: 12rem 0;
        }

        #{$s}__lang {
            display: flex;
            position: absolute;
            bottom: 0;
            
            svg {
                margin-right: 3.6rem;
            }

            ul {
                display: flex;
                @include flexGap(3.6rem);
            }

            li {
                cursor: pointer;

                h5 {
                    color: rgba(#fff, .25);
                }

                &.active {
                    h5 {
                        color: var(--white);
                    }
                }
            }

        }

    }

    &__mobile {

        height: 100%;
        position: relative;

        @include flexCenter;
        display: none;
        @include ipadPro {
            display: flex;
        }

        a {
            @include link {
                transition: filter $dt;

                &:hover {
                    opacity: 1;
                    filter: opacity(75%);
                }
            }
        }

        #{$s}__content {
            @include blockGap(5.6rem);
        }

        #{$s}__brand {

            position: absolute;
            top: var(--nav-min-top);
            left: var(--nav-min-right);
            
            @include flexCenter;
            height: var(--nav-min-size);
            width: var(--nav-min-size);

            @include link {
                color: var(--white);
            }

            svg {
                height: 3.2rem;
                width: 5.8rem;
            }
        }

        nav {
            ul {
                @include blockGap(2.4rem);
            }

            li {
                font-size: $h5;
            }

            a:not(.active) {
                color: var(--white);
            }
        }

        #{$s}__account {
            div {
                margin-top: 0.8rem;
                display: flex;
                @include flexGap(1.6rem);
            }

            a {
                @include link {
                    color: var(--text);
                }
            }
        }

        #{$s}__lang {
            display: flex;
            @include flexGap(2.4rem);

            li {
                cursor: pointer;

                h5 {
                    color: rgba(#fff, .25);
                }

                &.active {
                    h5 {
                        color: var(--white);
                    }
                }
            }
        }

    }

}


.user-acct {
    align-self: stretch;
    position: relative;
    padding: 1.2rem;

    display: flex;
    align-items: center;
    @include flexGap(2.4rem);

    &__bg {
        @include overlay;
        border-radius: 10rem;
        background-color: var(--white);
        box-shadow: $soft-shadow;
    }

    &__photo {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        img {
            @include cover;
        }
    }

    &__icon {
        height: 8rem;
        width: 8rem;

        border-radius: 50%;
        overflow: hidden;
        position: relative;
        @include flexCenter;

        background-color: var(--primary);
        color: var(--jet);
    }

    &__content {
        position: relative;
        @include blockGap(1.2rem);

        div {
            display: flex;
            align-items: center;
            @include flexGap();
        }

        hr {
            height: 1.6rem;
            width: 2px;
            background-color: var(--placeholder);
        }

        a {
            @include link {
                color: var(--text);
            }
        }
    }

}