@font-face {
    font-family: 'Geomanist';
    src: url('../../src/fonts/light/geomanist-light-webfont.woff2') format('woff2'),
        url('../../src/fonts/light/geomanist-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../../src/fonts/regular/geomanist-regular-webfont.woff2') format('woff2'),
        url('../../src/fonts/regular/geomanist-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../../src/fonts/book/geomanist-book-webfont.woff2') format('woff2'),
        url('../../src/fonts/book/geomanist-book-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


$h1: 4.9rem;
$h2: 3.7rem;
$h3: 2.8rem;
$h4: 2.1rem;
$h5: 1.6rem;
$h6: 1.2rem;
$p: 1.6rem;
$micro: .9rem;
$hero: 6.5rem;


body {
    font-family: $font;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--jet);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4 {
    line-height: 1.2;
    font-weight: 400;
}

h1 { font-size: $h1; }
h2 { font-size: $h2; }
h3 { font-size: $h3; }
h4 { font-size: $h4; }
h5 { font-size: $h5;}
h6 { font-size: $h6; }

h5, h6 {
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: $spacing;
}

p {
    font-size: $p;
    line-height: 1.7;
}


.h1, .h2 {
    line-height: 1.2;

    span {
        color: var(--primary);
        font-weight: 700;
    }
}

.h1 { font-size: $h1; }
.h2 { font-size: $h2; }