.account {

    --visual-width: 45vw;
    --content-width: 55vw;

    @include ipadPro {
        --visual-width: 38vw;
        --content-width: 62vw;
    }
    @include ipad {
        --visual-width: 100vw;
        --content-width: 100vw;
    }

    &__content {
        position: relative;
        width: 100%;
        max-width: 44rem;

        @include blockGap(5.6rem);
    }

    &__main {
        position: relative;
        padding: 20rem 4.8rem;
        width: var(--content-width);

        @include flexCenter;
        position: relative;

        @include ipad {
            margin-top: 25vh;
            background-color: var(--white);
            padding: var(--y-pad) var(--x-pad) 25rem;
            border-top-right-radius: 3.6rem;
            border-top-left-radius: 3.6rem;
            min-height: 100vh;
            justify-content: flex-start;
            box-shadow: $soft-shadow;
        }

        @include phone {
            padding: 6.4rem var(--x-pad) 25rem;
        }
    }

    &__title {
        font-weight: 300;
        span {
            color: var(--google);
        }
    }

    &__visual {

        width: var(--visual-width);
        height: 100vh;

        position: fixed;
        top: 0;
        right: 0;

        img  {
            @include cover;
        }

    }

    &__nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: var(--content-width);
        @include flexCenter;
        padding-bottom: 4.8rem;

        @include phone {
            padding: 0 var(--x-pad) 3.6rem;
        }
    }

    &__group {
        @include blockGap(3.6rem);
        h5 {
            font-weight: 700;
        }
    }

    &__loader {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: var(--content-width);
        @include flexCenter;
    }

    &__profile {

        &-header {
            display: flex;
            align-items: center;
            @include flexGap(2.4rem);
        }

        &-photo {
            height: 8rem;
            width: 8rem;
            overflow: hidden;
            border-radius: 50%;

            img {
                @include cover;
            }
        }

        &-details {
            @include blockGap(1.6rem);

            h5 {
                font-weight: 700;
                padding-bottom: 1.2rem;
            }
        }

        &-oauth {
            display: flex;
            align-items: center;
            @include flexGap(1.2rem);

            &.google {
                color: var(--google);
            }

            &.facebook {
                color: var(--facebook);
            }

            h6 {
                color: var(--slate-dark);
                font-weight: 700;
            }
        }

    }


    &__fields {
        @include blockGap(1.6rem);

        h5 {
            padding-bottom: 1.2rem;
            font-weight: 700;
        }
    }

    &__field {

        display: flex;
        align-items: center;

        cursor: pointer;
        user-select: none;

        div:first-child {
            flex-grow: 10;
        }

        h6 {
            color: var(--slate-dark);
            font-weight: 700;
        }

        p {
            color: var(--jet);

            span {
                color: var(--text);
            }
        }

        svg {
            color: var(--slate-dark);
        }

    }

    &__modal {
        @include blockGap(2.4rem);

        &-title {
            padding-bottom: 1.6rem;
        }

        &--delete {
            p span {
                color: var(--jet);
                font-weight: 700;
            }
        }

        &--delete &-title {
            padding-bottom: 0;
        }
    }

    &__qr {
        @include phone {
            padding-top: 4.8rem;
            @include flexCenter;
            width: 100%;
        }
    }

}


.account-nav {

    background-color: var(--jet);
    padding: 1.6rem 6.4rem;
    border-radius: 10rem;
    box-shadow: $soft-shadow;
    user-select: none;

    @include phone {
        width: 100%;
        padding: 1.6rem 2.4rem;
    }

    &__items {
        display: flex;
        @include flexGap(2.4rem);

        @include phone {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            @include flexGap(0);
        }
    }

    &__item {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        @include phone {
            width: unset;
        }

        p {
            color: inherit;
            font-size: 1.4rem;
            line-height: 1.2;
            margin-top: 0.8rem;
        }

        &.active {
            color: var(--white);
        }
    }

}