.account {

    --visual-width: 45vw;
    --content-width: 55vw;

    &__container {
        
        padding: 20rem 4.8rem;
        width: var(--content-width);

        @include flexCenter;

    }

    &__content {
        width: 100%;
        max-width: 44rem;

        @include blockGap(5.6rem);
    }

    &__title {
        font-weight: 300;
        span {
            color: var(--google);
        }
    }

    &__visual {

        width: var(--visual-width);
        height: 100vh;

        position: fixed;
        top: 0;
        right: 0;

        img  {
            @include cover;
        }

    }

    &__nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: var(--content-width);
        @include flexCenter;
        padding-bottom: 4.8rem;
    }

    &__group {
        @include blockGap(3.6rem);
    }

    &__loader {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: var(--content-width);
        @include flexCenter;
    }

    &__profile {

        @include blockGap(4.8rem);

        &-header {
            display: flex;
            align-items: center;
            @include flexGap(2.4rem);
        }

        &-photo {
            height: 8rem;
            width: 8rem;
            overflow: hidden;
            border-radius: 50%;

            img {
                @include cover;
            }
        }

        &-details {
            @include blockGap(1.2rem);
        }

        &-oauth {
            display: flex;
            align-items: center;
            @include flexGap(1.2rem);

            &.google {
                color: var(--google);
            }

            &.facebook {
                color: var(--facebook);
            }

            p {
                color: var(--jet);
            }
        }

    }

}


.account-nav {

    background-color: var(--jet);
    padding: 1.6rem 6.4rem;
    border-radius: 10rem;
    box-shadow: $soft-shadow;
    user-select: none;

    &__items {
        display: flex;
        @include flexGap(2.4rem);
    }

    &__item {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        p {
            color: inherit;
            font-size: 1.4rem;
            line-height: 1.2;
            margin-top: 0.8rem;
        }

        &.active {
            color: var(--white);
        }
    }

}