.booking {

    min-height: 100vh;

    &__map {
        position: fixed;
        top: 0;
        left: 0;

        height: 100vh;
        width: 100vw;

        #google-map {
            height: 100%;
            width: 100%;

            background-color: var(--black);
        }
    }

    &__loader {
        position: relative;
        height: 100vh;
        width: 100%;
        @include flexCenter;
    }

    &__app {
        position: relative;
    }

    &__card {
        position: relative;
        min-height: 100vh;
        width: max-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--x-pad) 4.8rem;

        // overflow-y: hidden;
    }

}

.booking-card {

    // Declare Custom Properties
    --card-gap: 3.2rem;
    --card-nav-height: 7.6rem;
    --card-width: 44rem;
    --card-body-padding-x: 3.6rem;
    --card-body-padding-y: 4.8rem;

    flex-grow: 10;
    display: flex;
    flex-direction: column;

    position: relative;
    width: var(--card-width);

    box-shadow: $soft-shadow;
    background-color: var(--black);
    border-radius: 2rem;


    &__loader {
        flex-grow: 10;
        @include flexCenter;
    }

    &__nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--card-nav-height);
        padding: 0 3.6rem;

        h6 {
            cursor: pointer;
            user-select: none;
        }
    }

    &__menu {
        padding: 0 3.6rem;
        user-select: none;

        position: absolute;
        left: 0;
        top: var(--card-nav-height);
        width: 100%;

        hr {
            height: 3px;
            width:40%;
            background-color: var(--slate-dark);
            border-radius: 1rem;
            margin: 0 auto var(--card-gap);
        }

        &.disabled {
            pointer-events: none
        }
    }


    &__steps {
        @include blockGap(1.2rem);
        padding-bottom: var(--card-gap);
    }

    &__step {
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: var(--slate-dark);
        padding: 1.2rem 1.6rem;
        border-radius: 0.8rem;
        font-size: 1.6rem;

        color: var(--white);

        cursor: pointer;

        &.active {
            background-color: var(--white);
            color: var(--black);
        }

        &.disabled {
            color: var(--slate-dark);
            cursor: default;
            svg {
                display: none;
            }
        }
    }

    &__header {
        @include blockGap(1.6rem);
        user-select: none;

        a {
            @include link {
                color: var(--google);
            }
        }
    }

    &__body {
        position: relative;

        flex-grow: 10;
        display: flex;
        flex-direction: column;

        background-color: var(--white);
        padding: var(--card-body-padding-y) var(--card-body-padding-x);
        border-radius: 2rem;

        &-esc {
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            z-index: -1;
            pointer-events: none;

            &.listening {
                z-index: 5;
                pointer-events: all;
            }
        }

    }

    &__content {
        flex-grow: 10;
        @include blockGap(var(--card-gap));

        fieldset {
            outline: none;
            border: none;
            display: block;
            @include blockGap(1.6rem);
        }

        &.flex-col {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__footer {
        hr {
            height: 2px;
            width: 100%;
            background-color: var(--slate-light);
            margin-bottom: var(--card-gap);
        }

        h6 {
            margin-bottom: 0.8rem;
        }
    }


    &__route {
        display: flex;
        align-items: center;

        @include flexGap(3.2rem);

        div {
            display: flex;
            align-items: center;
        }

        svg {
            color: var(--slate-dark);
            margin-right: 0.8rem;
        }

        p {
           color: var(--slate); 
        }
    }
}

#booking-react-app {
    overflow-y: hidden;
}
