.contact {

    position: relative;
    padding: var(--y-pad) var(--x-pad);

    display: flex;
    justify-content: flex-end;

    &__image {
        position: absolute;
        top: 0;
        left: 0;

        height: calc(100% - var(--y-pad) * 1.5);

        img {
            height: 100%;
        }
    }

    &__card {
        position: relative;
        border-radius: 2rem;
        box-shadow: $soft-shadow;
        padding: var(--x-pad);

        background-color: var(--white);
    }

    &__method {
        display: flex;
        align-items: center;

        @include link {
            color: var(--slate);
        }

        h5 {
            color: currentColor;
        }

        svg {
            height: 3.6rem;
            width: 3.6rem;
            margin-right: 1.6rem;
        }
    }
}