.legal {

    padding: var(--y-pad) var(--x-pad);

    @include flexCenter;

    &__content  {

        max-width: calc(var(--max-content-width) * 1.5);

        h2 {
            margin: 6.4rem 0 2.4rem;
        }

        h4 {
            margin: 2.4rem 0;
        }

        h5 {
            margin-bottom: 1.6rem 0;
        }

        ul {
            list-style: bullet;
            padding-left: 2.4rem;

            li {
                margin: 1.2rem 0;
            }
        }

        strong {
            color: var(--jet);
        }

    }
    
}