.login {

    min-height: 100vh;
    padding: var(--x-pad);

    @include flexCenter;

    &__container {

        flex-grow: 10;
        display: flex;
        @include flexGap(16rem);

        max-width: var(--track-width);
        width: 100%;
        align-items: stretch;
    }

    &__visual {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 4.8rem;
    }

    &__image {
        @include overlay;

        img {
            position: absolute;
            top: 0;
            left: 0;
            @include cover;

            border-radius: 2.4rem;

            &:first-child {
                filter: blur(2rem);
                opacity: .4;
            }
        }
    }

    &__content {
        @include flexCenter;
        width: 100%;
        max-width: 44rem;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include flexGap(4.8rem, "column");

        h2 span {
            color: var(--primary);
        }
    }

    &__inline {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.6rem;
    }

    &__fieldset {
        border: none;
        display: block;
        @include blockGap(2.4rem);
    }

    &__header {
        @include blockGap(2.4rem);
    }

}

.referral {
    position: relative;
    padding: 1.2rem;

    display: flex;
    align-items: center;
    @include flexGap(2.4rem);

    &__bg {
        @include overlay;
        border-radius: 10rem;
        background-color: var(--white);
        box-shadow: $soft-shadow;
    }

    &__photo {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        img {
            @include cover;
        }
    }

    &__content {
        position: relative;
        @include blockGap(0.4rem);
    }

}