.account-page {

    .header {

        &__bg {
            picture, img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            span {
                background-color: rgba(#404E65, .28);
                background-image: linear-gradient(rgba(black, .6), transparent);
            }
        }

    }


    .section {

        --accent-color: var(--primary);
        --section-gap: 3rem;

        &__container {
            max-width: 155rem;
            grid-template-columns: max-content 1fr;
            grid-gap: 10rem;

            @include laptop {
                grid-gap: 5rem;
            }
        }

        &__content {
            max-width: 60rem;

            h2 span {
                color: var(--accent-color);
            }

            .accent-svg {
                stroke: var(--accent-color);
                height: 5rem;
                width: 5rem;
                margin-bottom: 4rem;
            }
        }

        &__form {

            position: relative;

            .account-form {
                position: relative;
                display: grid;
                grid-gap: var(--section-gap);

                h6 {
                    @include dark {
                        color: var(--white);
                    }
                }

                &.window {
                    background-color: var(--white);
                    box-shadow: var(--window-shadow);

                    margin-top: 4rem;
                    margin-left: 4rem;
                    padding: 7rem 5rem;

                    @include dark {
                        background-color: var(--card-dark);
                    }
                }


                &__profile-picture {
                    display: flex;
                    align-items: center;
                    width: max-content;

                    cursor: pointer;
                    transition: opacity $dt;

                    &:hover {
                        opacity: .75;
                    }

                    img {
                        border-radius: 50%;
                        height: 8rem;
                        width: 8rem;
                        margin-right: 2rem;
                    }
                }

                &__accounts {
                    padding-top: 2rem;

                    h4 {
                        margin-bottom: 2rem;
                    }

                    div {
                        display: flex;
                        align-items: center;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }

                    svg {

                        height: 2.2rem;
                        width: 2.2rem;
                        margin-right: 1rem;
                        
                        &.google-color {
                            fill: var(--google-color);
                        }

                        &.facebook-color {
                            fill: var(--facebook-color);
                        }
                    }

                    p {
                        line-height: 2.2rem;
                    }

                }

                &__qr-code {
                    height: 200px;
                    width: 200px;
                }

            }

            .img-accent {
                position: absolute;
                top: 0;
                left: 0;

                background-color: var(--accent-color);
                width: 45rem;
                height: 70rem;

                @include laptop {
                    width: 70%;
                }
            }

        }


    }

    #personal-information.section {
        --accent-color: #EE8F59;
    }

    #login-security {
        --accent-color: #E0483F;
        background-color: var(--bg-light-alt);
    }

    #referral {
        --accent-color: #4285F4;
        background-color: var(--bg-light-alt);
    }

}