.home-page {

    section#orlando {
        background-color: var(--bg-light);
        @include dark {
            background-color: var(--bg-dark);
        }
        .img-accent {
            background-color: #B95A2E;
            @include dark {
                background-color: #5D8084;
            }
        }
    }

    section#lookup {
        background-color: var(--bg-light);
        @include dark {
            background-color: var(--black);
        }
        .img-accent {
            background-color: #BDCCD7;
            @include dark {
                background-color: #608E77;
            }
        }
    }

    .image-banner__text {
        @include dark {
            color: var(--white);
        }
    }

}