.services-page {

    .header__bg {

        display: flex;
        align-items: center;

        span {
            background-image: linear-gradient(rgba(black, .5), transparent);
        }
        
    }

    .dualcol.beyond {
        @include dark {
            background-color: #697C89;
        }
    }

    .immersive {

        background-color: #383838;

        .immersive__container {
            @include phone {
                padding: 0 var(--x-pad) var(--y-pad) var(--x-pad);
            }
        }

        .immersive__img {
            @include phone {
                grid-row: 1 / 2;
            }
            picture, img {
                object-position: top left;
            }
        }
    }

    section#airport-and-cruise {
        .img-accent {
            background-color: #D1E3ED;
            @include dark {
                background-color: #587074;
            }
        }
    }

    section#hourly {
        .img-accent {
            background-color: #AD6946;
        }
    }

}