.carat-btn {
    display: flex;
    align-items: center;
    cursor: pointer;

    transition: color $dt, opacity $dt;

    width: max-content;

    svg {
        height: 1.6rem;
        width: 1.6rem;
        
        stroke: currentColor;
        fill: transparent;
    }

    svg:first-child { margin-right: .5rem; }
    svg:last-child { margin-left: .5rem; }

}

.btn, .carat-btn {

    --lt-color: currentColor;
    --dk-color: var(--lt-color);

    --lt-color-alt: var(--lt-color);
    --dk-color-alt: var(--lt-color-alt);

    --lt-text: var(--lt-color);
    --dk-text: var(--dk-color);

    --lt-border: transparent;
    --dk-border: var(--lt-border);

    --lt-bg: transparent;
    --dk-bg: var(--lt-bg);

    --lt-opacity: 1;
    --dk-opacity: var(--lt-opacity);

    @include link {

        color: var(--lt-text);
        opacity: var(--lt-opacity);
        border-color: var(--lt-border);
        background-color: var(--lt-bg);

        user-select: none;

        &:hover, &:focus { opacity: var(--lt-opacity); }
        &:focus { outline: none; }

        @include dark {
            color: var(--dk-text);
            opacity: var(--dk-opacity);
            border-color: var(--dk-border);
            background-color: var(--dk-bg);
            &:hover { opacity: var(--dk-opacity); }
        }

    }

    &.disabled {
        @include link {
            opacity: 0;
            pointer-events: none;
        }
    }

    &.icon-fill, &.icon-stroke {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.icon-fill svg {
        fill: currentColor;
    }

    &.icon-stroke svg {
        stroke: currentColor;
    }

    svg {
        height: 1.8rem;
        width: 1.8rem;

        &:first-child {
            margin-right: 1rem;
        }

        &:last-child {
            margin-left: 1rem;
        }
    }


    // Global Color Themes
    &.primary,
    &.hover-primary:hover,
    &.hover-primary:focus {
        --lt-color: var(--primary);
        --lt-color-alt: var(--white);
        --dk-color-alt: var(--jet);
        --dk-color: var(--primary);
    }

    &.accent,
    &.hover-accent:hover,
    &.hover-accent:focus {
        --lt-color: var(--accent-color);
        --lt-color-alt: var(--white);
        --dk-color-alt: var(--jet);
        --dk-color: var(--accent-color);
    }

    &.light,
    &.hover-light:hover,
    &.hover-light:focus {
        --lt-color: var(--white);
        --lt-color-alt: var(--jet);
    }

    &.dark,
    &.hover-dark:hover,
    &.hover-dark:focus {
        --lt-color: var(--jet);
        --lt-color-alt: var(--white);
    }


    &.google {
        --lt-color: var(--google-color);
        --lt-color-alt: var(--white);
        --dk-color-alt: var(--jet);
        --dk-color: #{lighten($google-color, 10%)};
    }

    &.facebook {
        --lt-color: var(--facebook-color);
        --lt-color-alt: var(--white);
        --dk-color-alt: var(--jet);
        --dk-color: #{lighten($facebook-color, 10%)};
    }



    // Light Color Themes
    &.lt-primary,
    &.lt-hover-primary:hover,
    &.lt-hover-primary:focus {
        --lt-color: var(--primary);
        --lt-color-alt: var(--white);
    }

    &.lt-accent,
    &.lt-hover-accent:hover,
    &.lt-hover-accent:focus {
        --lt-color: var(--accent-color);
        --lt-color-alt: var(--white);
    }

    &.lt-light,
    &.lt-hover-light:hover,
    &.lt-hover-light:focus {
        --lt-color: var(--white);
        --lt-color-alt: var(--jet);
    }

    &.lt-dark,
    &.lt-hover-dark:hover,
    &.lt-hover-dark:focus {
        --lt-color: var(--jet);
        --lt-color-alt: var(--white);
    }

    &.lt-primary-text,
    &.lt-hover-primary-text:hover,
    &.lt-hover-primary-text:focus {
        --lt-color-alt: var(--primary);
    }



    // Dark Color Themes
    &.dk-primary,
    &.dk-hover-primary:hover,
    &.dk-hover-primary:focus {
        --dk-color: var(--primary);
        --dk-color-alt: var(--jet);
    }

    &.dk-accent,
    &.dk-hover-accent:hover,
    &.dk-hover-accent:focus {
        --dk-color: var(--accent-color);
        --dk-color-alt: var(--jet);
    }

    &.dk-light,
    &.dk-hover-light:hover,
    &.dk-hover-light:focus {
        --dk-color: var(--white);
        --dk-color-alt: var(--jet);
    }

    &.dk-dark,
    &.dk-hover-dark:hover,
    &.dk-hover-dark:focus {
        --dk-color: var(--jet);
        --dk-color-alt: var(--white);
    }

    &.dk-primary-text,
    &.dk-hover-primary-text:hover,
    &.dk-hover-primary-text:focus {
        --dk-text: var(--primary);
    }


    // Opacity Hover
    &.opacity-75,
    &.lt-opacity-75,
    &.hover-opacity-75:hover,
    &.lt-hover-opacity-75:hover,
    &.hover-opacity-75:focus,
    &.lt-hover-opacity-75:focus {
        --lt-opacity: .75;
    }

    &.opacity-50,
    &.lt-opacity-50,
    &.hover-opacity-50:hover,
    &.lt-hover-opacity-50:hover,
    &.hover-opacity-50:focus,
    &.lt-hover-opacity-50:focus {
        --lt-opacity: .5;
    }
    
    &.dk-opacity-75,
    &.dk-hover-opacity-75:hover,
    &.dk-hover-opacity-75:focus {
        --dk-opacity: .75;
    }

    &.dk-opacity-50,
    &.dk-hover-opacity-50:hover,
    &.dk-hover-opacity-50:focus {
        --dk-opacity: .5;
    }

    

}


.btn {

    display: block;
    min-width: 20rem;
    width: max-content;
    padding: 1.5rem 3rem;

    text-transform: uppercase;
    letter-spacing: $spacing;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.7;

    border-width: 2px;
    border-style: solid;

    cursor: pointer;
    transition: all $dt;


    // Button Modifiers
    &.wide { width: 100%; }

    &.hollow,
    &.hover-hollow:hover,
    &.hover-hollow:focus,
    &.lt-hollow,
    &.lt-hover-hollow:hover,
    &.lt-hover-hollow:focus {
        --lt-text: var(--lt-color);
        --lt-bg: transparent;
        --lt-border: currentColor;
    }

    &.dk-hollow,
    &.dk-hover-hollow:hover,
    &.dk-hover-hollow:focus {
        --dk-text: var(--dk-color);
        --dk-bg: transparent;
        --dk-border: currentColor;
    }

    &.filled,
    &.hover-fill:hover,
    &.hover-fill:focus {
        --dk-text: var(--dk-color-alt);
        --dk-bg: var(--dk-color);
        --dk-border: var(--dk-color);
    }

    &.filled,
    &.hover-fill:hover,
    &.hover-fill:focus,
    &.lt-filled,
    &.lt-hover-fill:hover,
    &.lt-hover-fill:focus {
        --lt-bg: var(--lt-color);
        --lt-border: var(--lt-color);
        --lt-text: var(--lt-color-alt);
    }

    &.dk-filled,
    &.dk-hover-fill:hover,
    &.dk-hover-fill:focus {
        --dk-bg: var(--dk-color);
        --dk-border: var(--dk-color);
        --dk-text: var(--dk-color-alt);
    }

}