.input {

    // Variables
    --input-padding: 2.5rem;
    --gap: 2rem;

    --border-style: 2px solid;
    --outer-color: var(--jet);
    --inner-color: var(--text-light);

    --icon-size: 2.5rem;

    color: var(--jet);
    border: var(--border-style) var(--outer-color);
    padding: 1rem  var(--input-padding);

    display: flex;
    align-items: center;

    transition: border $dt, color $dt;

    @include dark {
        --outer-color: var(--white);
        --inner-color: var(--text-dark);
        color: var(--white);
    }

    @include ipad {
        --input-padding: 2rem;
    }

    @include phone {
        border: none;
        display: block;
        padding: 0;
        --inner-color: var(--jet);
        @include dark { --inner-color: var(--white); }
    }

    &.error, &.error:focus-within { --outer-color: var(--error-color); }
    &.valid, &.valid:focus-within { --outer-color: var(--success-color); }
    &:focus-within { --outer-color: var(--primary); }
    &.error &__field.valid {
        --inner-color: var(--text-light);
        @include dark { --inner-color: var(--text-dark); }
        @include phone {
            --inner-color: var(--success-color);
            @include dark { --inner-color: var(--success-color); }
        }

        &:focus-within {
            --inner-color: var(--primary);
            --heading-color: var(--inner-color);
            @include phone { --inner-color: var(--success-color); }
        }
    }

    &__icon {

        svg {
            height: var(--icon-size);
            width: var(--icon-size);
            stroke: var(--outer-color);
            transition: stroke $dt;
        }

        padding-right: var(--input-padding);

        @include phone { display: none; }
        
    }


    &__field {

        --heading-color: var(--text-dark);

        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        position: relative;

        transition: border $dt, color $dt;

        &:not(:first-child) {
            padding-left: var(--input-padding);
            border-left: var(--border-style) var(--inner-color);
        }

        &:not(:last-child) {
            padding-right: var(--input-padding);
            @include phone { margin-bottom: var(--gap); }
        }


        &:focus-within {
            --inner-color: var(--primary);
            --heading-color: var(--inner-color);
            @include phone { --inner-color: var(--primary); }
        }


        &.error { --inner-color: var(--error-color); }
        &.valid { --inner-color: var(--success-color); }


        @include phone {
            border: var(--border-style) var(--inner-color);
            padding: 1rem  var(--input-padding);
        }

        @include dark {
            --heading-color: var(--text-light);
        }


        h6 {
            margin-bottom: .5rem;
            color: var(--heading-color);
            transition: color $dt;
        }


        input {

            border: none;
            width: 100%;
            padding: .5rem 0;

            transition: color $dt, background $dt, opacity $dt, border $dt;

            background: transparent;

            color: currentColor;

            &[type="password"] {
                letter-spacing: .2em;
            }

        }

        svg {
            stroke: var(--inner-color);
            height: var(--icon-size);
            width: var(--icon-size);
            position: absolute;
            pointer-events: none;
            top: calc(50% - var(--icon-size) / 2);
            right: var(--icon-size);
            opacity: 0;

            &.toggle {
                opacity: 1;
                cursor: pointer;
                pointer-events: all;
                stroke: var(--jet);
                transition: opacity $dt;
                @include dark {
                    stroke: var(--white);
                }

                &:hover {
                    opacity: .75;
                }

                &.visible {
                    stroke: transparent;
                    fill: var(--jet);
                    @include dark {
                        stroke: var(--white);
                    }
                }
            }
        }

        &:last-child svg {
            right: calc(var(--icon-size) - var(--input-padding));
            @include phone { right: var(--icon-size); }
        }

        &.valid svg:last-child, &.error svg:not(:last-child) { opacity: 1; }

    }

    &__tooltip {

        --tt-bg: var(--jet);

        @include dark { --tt-bg: var(--text-dark); }
        
        position: absolute;
        top: -2rem;
        left: 0;
        transform: translateY(-100%);

        padding: 1rem;
        background-color: var(--tt-bg);
        color: var(--white);
        pointer-events: none;

        transition: opacity $dt;

        p {
            font-size: $h6;
        }

        &::after {
            @include pseudo;
            height: 2rem;
            width: 2rem;

            bottom: -1rem;
            right: 1rem;
            transform: rotate(45deg);
            background-color: var(--tt-bg);
        }

        &.hidden {
            opacity: 0;
        }
    }

}


.textarea {

    --textarea-color: var(--jet);
    --heading-text: var(--text-dark);

    padding: 1rem 3rem;
    border: 2px solid currentColor;

    display: flex;
    flex-direction: column-reverse;
    position: relative;

    transition: all $dt;

    color: var(--textarea-color);

    @include phone {
        padding: 1rem 2rem;
    }

    @include dark {
        --textarea-color: var(--white);
        --heading-text: var(--text-light);
    }

    &:focus-within {
        border-color: var(--primary);
        --heading-text: var(--primary);
    }

    &.valid {
        border-color: var(--success-color);
        &:focus-within {
            border-color: var(--success-color);
            --heading-text: var(--success-color);
        }
    }

    &.error {
        border-color: var(--error-color);
        &:focus-within {
            border-color: var(--error-color);
            --heading-text: var(--error-color);
        }
    }

    h6 {
        color: var(--text-dark);
        transition: all $dt;
        margin-bottom: .5rem;
        color: var(--heading-text);
    }

    textarea {

        background: transparent;
        border: none;
        padding: .5rem 0;

        color: currentColor;

        width: 100%;
        height: 20rem;

        resize: none;
    }

}

.select-tile {

    display: block;
    cursor: pointer;

    input {
        display: none;
    }

    &__container {

        padding: 2rem 1.5rem;
        border: 2px solid var(--text-light);

        display: flex;
        flex-direction: column;
        justify-content: center;

        --h-col: var(--jet);
        --p-col: var(--text-dark);
        --b-col: var(--jet);

        --h-col-focus: var(--white);
        --p-col-focus: rgba(255, 255, 255, .7);

        @include dark {
            --h-col: var(--white);
            --p-col-focus: var(--text-dark);
            --h-col-focus: var(--card-dark);
            --b-col: var(--white);
        }

        transition: background .3s ease, border .3s ease;

        h4, p {
            transition: color .3s ease;
            user-select: none;
        }

        &:hover {
            border-color: var(--h-col);
        }
    }

    input:checked + &__container {
        border-color: var(--b-col);
        background-color: var(--b-col);

        --h-col: var(--h-col-focus);
        --p-col: var(--p-col-focus);
    }

    &__title {
        font-size: 1.8rem;
        color: var(--h-col);

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__text {
        font-size: 1.4rem;
        color: var(--p-col);
    }

}