.pagination {
    display: flex;

    font-size: 2rem;
    

    &__back, &__forward {

        cursor: pointer;
        padding: 1rem;

        svg {
            stroke: currentColor;
            height: 2.4rem;
            width: 2.4rem;
            pointer-events: none;
        }


    }

    &__numbers {
        display: flex;
        a {
            display: block;
            padding: 1rem;
            line-height: 2.4rem;
            
            @include link {
                color: var(--jet);
                @include dark {
                    color: var(--white);
                }
            }
        }
    }
}