<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nosotros - United Travel LLC</title>

  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/style/main.css">
  
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/fonts/silka.css">

</head>

<body class="about-page fixed" data-barba="wrapper">

    <!-- Preloader -->
    <section class="preloader" id="preloader">
    <div class="preloader__content">
        <svg><use href="/img/icons.svg#logo"></use></svg>
        <span class="preloader__spinner"></span>
    </div>
</section>

    <!-- Navbar -->
    <!--  Main Navbar  -->
<div class="navbar <%- user._id ? 'logged-in' : 'logged-out' %>" id="navbar">

    <div class="nb-esc no-esc"></div>

    <!-- Desktop Navbar -->
    <div class="navbar__full">

        <div class="navbar__background"></div>

        <a class="navbar__brand" href="/es/">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <span>United Travel</span>
        </a>

        <nav class="navbar__nav" aria-label="desktop">
            <ul class="navbar__nav-list">
    <li><a href="/es/" data-nav-namespace="home">Casa</a></li>
    <li><a href="/es/about" data-nav-namespace="about">Acerca de</a></li>
    <li><a href="/es/fleet" data-nav-namespace="fleet">Flota</a></li>
    <li><a href="/es/contact" data-nav-namespace="contact">Contacto</a></li>
</ul>
        </nav>

        <div class="navbar__actions">
            <!-- Language -->
            <div class="navbar__lang">
                <div class="navbar__lang-icon nb-lng">
                    <svg><use href="/img/icons.svg#language"></use></svg>
                </div>
                
                <div class="navbar__lang-menu hidden">
                    <ul>
                        <li><p class="small">English</p></li>
                        <li><p class="small">Español</p></li>
                    </ul>
                </div>
            </div>

            <!-- Divider -->
            <hr>

            <!-- Profile Logged In -->
            <div class="navbar__profile logged-in">

                <!-- Logged In Icon -->
                <div class="navbar__profile-pic nb-clt">
                    <img src="<%- user.photo %>" alt="Profile Photo">
                </div>

                <div class="navbar__profile-menu hidden">
                    <ul>
                        <li><p class="small">Hola <%- user.preferredName %></p></li>
                        <hr>
                        <li><a href="/es/account"><span>Mi cuenta</span></a></li>
                        <li><a href="#" id="nb-logout"><span>Cerrar sesión</span></a></li>
                    </ul>
                </div>

            </div>
            
            <!-- Profile Logged Out -->
            <div class="navbar__profile logged-out">

                <!-- Logged Out Icon -->
                <svg class="navbar__profile-icon nb-clt"><use href="/img/icons.svg#person-circle"></use></svg>
                
                <div class="navbar__profile-menu hidden">
                    <ul>
                        <li><a href="/es/login"><span>Crear una cuenta</span></a></li>
                        <li><a href="/es/login"><span>Acceso</span></a></li>
                    </ul>
                </div>

            </div>

            <!-- Call To Action -->
            <a href="/es/book" class="navbar__cta">Reservar Ahora</a>
        </div>

    </div>

    <!-- Hamburger Menu Only -->
    <div class="navbar__min">
        <div class="navbar__menu-icon">
            <span></span>
            <span></span>
        </div>
    </div>
    
</div>

<div class="nav-menu">
    
</div>

    <!-- Main Block (Scroll Container) -->
    <main data-scroll-container data-barba="container" data-barba-namespace="about">

        <!-- Hero Section -->
        <section class="hero">

            <!-- Background Video -->
            <div class="hero__background">
                <img src="/img/about-background.jpg" alt="Disney Castle, Universal Studios Sign, and downtown orlando">
            </div>

            <!-- Content -->
            <div class="hero__content">

                <h1>Nuestro corazón está en <span>Orlando</span></h1>
                <h4>La ciudad hermosa</h4>
                
            </div>

        </section>

        <!-- Family Section -->
        <section class="section">

             <!-- Content Block -->
             <div class="content xl">
                <h2>De propiedad y operación <span>familiar.</span></h2>
                <p>Somos un negocio operado y de propiedad familiar centrado en Orlando, Florida. Esta empresa fue fundada en 2013 por Beatriz Murillo y Juan López, con el objetivo principal de brindar servicios de autos negros de primera clase en las áreas de Orlando y Tampa Bay. Desde entonces hemos crecido y ahora ofrecemos viajes de larga distancia en todo el estado de Florida.</p>
            </div>

        </section>

        <!-- Professional & Friendly Service -->
        <section class="friendly">
            <div class="friendly__map">
                <img src="/img/friendly.png" alt="Man wearing a hat and smiling in black and white">
            </div>

            <div class="friendly__content">
                <div class="content">
                    <h2 class="white">Siempre <span>profesional.</span> Siempre <span>amigable.</span></h2>
                    <p>Siempre somos profesionales y siempre corteses. Cuando viaje con nosotros, nunca encontrará un conductor grosero ni recibirá un servicio insatisfactorio. Estamos orgullosos de lo que hacemos y nos encanta conocer gente nueva. Lo primero que verá cuando llegue nuestro conductor es una sonrisa en su rostro, porque realmente es un placer para nosotros atenderlo.</p>
                </div>
            </div>
        </section>

        <!-- Quality Section -->
        <section class="section">

            <!-- Content Block -->
            <div class="content xl">
               <h2>Nos impulsa <span>la calidad</span></h2>
               
                    <p>Creemos en hacer un esfuerzo adicional por usted. Cuando viaja con nosotros, solo puede esperar el más alto nivel de servicio. Nos aseguramos de llegar temprano a su punto de recogida y llevarlo a su destino de manera oportuna para que nunca tenga que esperar un minuto.</p>
                
                    <p>Calidad significa conducir con seguridad para que tenga la máxima tranquilidad y pueda relajarse sabiendo que está en buenas manos. También tenemos asientos para niños para acomodar a los pequeños y mantenerlos seguros.</p>
                
                    <p>También nos tomamos el tiempo para limpiar nuestros vehículos antes y después de cada viaje para que pueda viajar en un ambiente limpio e higiénico. Esto es más importante que nunca debido a COVID-19, por lo que puede relajarse sabiendo que estamos haciendo nuestra parte.</p>
                
           </div>

       </section>

       <!-- Quote Section -->
       <section class="quote">
           <div class="quote__background">
                <img src="/img/quote.jpg" alt="Car driving at night with blurred lights">
           </div>

           <div class="quote__content">
               <h2 class="white">Calidad significa hacerlo bien cuando nadie está mirando.</h2>
               <h3 class="white light">&dash; Henry Ford</h3>
           </div>
       </section>

        <!-- Reviews  -->
        <section class="reviews">

    <h2>What our riders say about us.</h2>

    <div class="reviews__container">

        <!-- Reviewers/People -->
        <div class="reviews__reviewers">

            <!-- Reviewer #1 -->
            <div class="reviewer selected">
                <div class="reviewer__image">
                    <img src="/img/profile-photos/juan.jpg" alt="reviewer">
                </div>
                <div class="reviewer__info">
                    <h5>reviewer.name</h5>
                    <p>reviewer.date</p>
                </div>
            </div>
            
            <!-- Reviewer #2 -->
            <div class="reviewer">
                <div class="reviewer__image">
                    <img src="/img/profile-photos/juan.jpg" alt="reviewer">
                </div>
                <div class="reviewer__info">
                    <h5>reviewer.name</h5>
                    <p>reviewer.date</p>
                </div>
            </div>
            
            <!-- Reviewer #3 -->
            <div class="reviewer">
                <div class="reviewer__image">
                    <img src="/img/profile-photos/juan.jpg" alt="reviewer">
                </div>
                <div class="reviewer__info">
                    <h5>reviewer.name</h5>
                    <p>reviewer.date</p>
                </div>
            </div>

        </div>

        <!-- Review Body -->
        <div class="reviews__review">

            <!-- Review -->
            <div class="review">

                <!-- Review Title -->
                <h3>Comfortable & Smooth Ride</h3>

                <!-- Review Stars -->
                <div class="review__stars">
                    <svg><use href="/img/icons.svg#star"></use></svg>
                    <svg><use href="/img/icons.svg#star"></use></svg>
                    <svg><use href="/img/icons.svg#star"></use></svg>
                    <svg><use href="/img/icons.svg#star"></use></svg>
                    <svg><use href="/img/icons.svg#star-half"></use></svg>
                </div>

                <!-- Review Body -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis, justo sit amet placerat tempor, erat tortor aliquet purus, nec sodales velit lorem quis ante. Aliquam eu fringilla nisi. Duis ornare sagittis molestie. Mauris ornare ligula ac ex sollicitudin pellentesque. Quisque mollis nec libero nec pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

            </div>
        </div>

    </div>

</section>

        <!-- Call To Action -->
        <section class="cta">
    <div class="cta__card">
        <div class="content">
            <h2 class="white">Reserve un <span>viaje con nosotros.</span></h2>
            <p>¿Está listo para reservar un viaje para su próximo viaje a Orlando? Puede reservar su viaje en línea utilizando nuestro sistema de reservas en línea. Podrá completar todo el proceso de reserva en línea para que cuando llegue el momento de su viaje, sea sin esfuerzo.</p>
            <a href="#content" class="btn-pill filled primary">Hacer Reservacion </a>
        </div>
    </div>
</section>

        <!-- Our Fleet -->
        <section class="section">

    <!-- Section Grid -->
    <div class="section__grid">

        <!-- Content Block -->
        <div class="content">
            <h2>Consulte nuestra <span>flota.</span></h2>
            <p>Eche un vistazo a nuestra flota de vehículos y vea cuál de nuestros vehículos se adapta mejor a sus necesidades.</p>
            <a href="/es/fleet" class="btn-pill hollow dark">Ver flota </a>
        </div>

        <!-- Image -->
        <div class="section__image">
            <picture>
                <source srcset="/img/fleet.webp" type="image/webp">
                <source srcset="/img/fleet.png" type="image/png">
                <img src="/img/fleet.png" alt="Mercedes car coming out of a circle">
            </picture>
        </div>

    </div>

</section>

        <!-- Contact Us -->
        <section id="contact" class="contact">
    <div class="contact__image">
        <picture>
            <source srcset="/img/contact.webp" type="image/webp">
            <source srcset="/img/contact.jpg" type="image/jpeg">
            <img src="/img/contact.jpg" alt="Mercedes car coming out of a circle">
        </picture>
    </div>
    <div class="contact__card">
        <div class="content">
            <h2>¿Tengo una pregunta? <span>Contáctenos.</span></h2>
            <p>Estaremos encantados de ayudarte. No dude en llamarnos o enviarnos un correo electrónico y nos comunicaremos con usted lo antes posible.</p>
            <a class="contact__method" href="m&#97;i&#108;&#116;o&#58;&#104;e&#108;lo&#64;un%&#54;9&#116;ed&#116;&#37;72%&#54;1&#118;e&#108;&#46;llc" >
                <svg><use href="/img/icons.svg#email"></use></svg>
                <h5>hello@unitedtravel.llc</h5>
            </a>
            <a class="contact__method" href="tel:123-456-7890">
                <svg><use href="/img/icons.svg#iphone"></use></svg>
                <h5>(123) 456-7890</h5>
            </a>
        </div>
    </div>
</section>

        
        <!-- Footer -->
        <footer class="footer" id="footer">

    <div class="footer__brands">
        <div class="footer__brand">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <p>United Travel LLC</p>
        </div>
        <a href="https://www.arjunsamir.com" target="_blank" class="footer__agency">Diseñado por Day FiftyFive</a>
    </div>

    <div class="footer__main">
        <div class="footer__content">
            <div class="footer__contact">
                <h5 class="white">Contacta con nosotros</h5>
                <hr>
                <a href="m&#97;i&#108;&#116;o&#58;&#104;e&#108;lo&#64;un%&#54;9&#116;ed&#116;&#37;72%&#54;1&#118;e&#108;&#46;llc">hello@unitedtravel.llc</a>
                <a href="tel:123-456-7890">(123) 456-7890</a>
            </div>
            <ul class="footer__links">
                <li><a href="/es/account">Mi Cuenta</a></li>
                <li><a href="/es/privacy">Política de Privacidad</a></li>
                <li><a href="/es/terms">Términos de Servicio</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <p>&copy; <script>document.write(new Date().getFullYear())</script> United Travel LLC. Reservados todos los derechos.</p>
        </div>
    </div>

</footer>

    </main>

    
    <!-- JavaScript -->
    <!-- Decalre Global Locale -->
<script>
    window.locale = "es";
    window.currentUser = JSON.parse('<%- JSON.stringify(user) %>');
</script>

<!-- External JavaScript Links -->
<script src="/js/index.js"></script> 

</body>

</html