<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>United Travel LLC</title>

  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/style/main.css">
  
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/fonts/silka.css">

</head>

<body>

    <!-- Navbar -->
    <!--  Main Navbar  -->
<div class="navbar">

    <!-- Desktop Navbar -->
    <div class="navbar__full">

        <div class="navbar__background"></div>

        <a class="navbar__brand" href="/es/">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <span>United Travel</span>
        </a>

        <nav class="navbar__nav" aria-label="desktop">
            <ul class="navbar__nav-list">
    <li><a href="/es/">Casa</a></li>
    <li><a href="/es/about">Acerca de</a></li>
    <li><a href="/es/fleet">Flota</a></li>
    <li><a href="/es/contact">Contacto</a></li>
</ul>
        </nav>

        <div class="navbar__actions">
            <!-- Language -->
            <div class="navbar__lang">
                <svg><use href="/img/icons.svg#language"></use></svg>
            </div>

            <!-- Divider -->
            <hr>

            <!-- Profile -->
            <div class="navbar__profile logged-in">

                <!-- Logged In Icon -->
                <div class="navbar__profile-pic">
                    <img src="/profile-photos/juan.jpg" alt="Profile Photo">
                </div>

                <!-- Logged Out Icon -->
                <svg class="navbar__profile-icon"><use href="/img/icons.svg#person-circle"></use></svg>

            </div>

            <!-- Call To Action -->
            <a href="/es/book" class="navbar__cta">Reservar Ahora </a>
        </div>

    </div>

    <!-- Hamburger Menu Only -->
    <div class="navbar__min">
        <div class="navbar__menu-icon">
            <span></span>
            <span></span>
        </div>
    </div>
    
</div>

<div class="nav-menu">
    
</div>

    <!-- Main Block (Scroll Container) -->
    <main data-scroll-container data-barba="container" data-barba-namespace="home">

        <!-- Hero Section -->
        <section class="hero">

            <!-- Background Video -->
            <div class="hero__background">
                <div class="bg-video">
                    <div class="bg-video__overlay"></div>
                    <div class="bg-video__fallback loading"></div>
                    <video class="bg-video__player" autoplay muted loop playsinline>
                        <!-- <source src="video/hero-bg.webm" type="video/webm"> -->
                        <source src="/video/hero-bg.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- Content -->
            <div class="hero__content">

                <h1>andar con <span id="typewrite" data-period="2500" data-words="[&#39;estilo&#39;, &#39;comodidad&#39;, &#39;facilidad&#39;]"></span><span class="blink">|</span></h1>
                <h4>Servicios de autos negros con sede en Orlando</h4>
                <a href="/es/book" class="btn-pill hollow white">Hacer Reservacion </a>
                
            </div>

        </section>

    </main>

    


    <!-- JavaScript -->
    <script src="/js/index.js"></script> 

</body>

</html>