<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceso - United Travel LLC</title>

  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/style/main.css">
  
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/fonts/silka.css">

</head>

<body class="login-page fixed" data-barba="wrapper">

    <!-- Preloader -->
    <section class="preloader" id="preloader">
    <div class="preloader__content">
        <svg><use href="/img/icons.svg#logo"></use></svg>
        <span class="preloader__spinner"></span>
    </div>
</section>

    <!-- Navbar -->
    <!--  Main Navbar  -->
<div class="navbar <%- user._id ? 'logged-in' : 'logged-out' %>" id="navbar">

    <div class="nb-esc no-esc"></div>

    <!-- Desktop Navbar -->
    <div class="navbar__full">

        <div class="navbar__background"></div>

        <a class="navbar__brand" href="/es/">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <span>United Travel</span>
        </a>

        <nav class="navbar__nav" aria-label="desktop">
            <ul class="navbar__nav-list">
    <li><a href="/es/" data-nav-namespace="home">Casa</a></li>
    <li><a href="/es/about" data-nav-namespace="about">Acerca de</a></li>
    <li><a href="/es/fleet" data-nav-namespace="fleet">Flota</a></li>
    <li><a href="/es/contact" data-nav-namespace="contact">Contacto</a></li>
</ul>
        </nav>

        <div class="navbar__actions">
            <!-- Language -->
            <div class="navbar__lang">
                <div class="navbar__lang-icon nb-lng">
                    <svg><use href="/img/icons.svg#language"></use></svg>
                </div>
                
                <div class="navbar__lang-menu hidden">
                    <ul>
                        <li><p class="small">English</p></li>
                        <li><p class="small">Español</p></li>
                    </ul>
                </div>
            </div>

            <!-- Divider -->
            <hr>

            <!-- Profile Logged In -->
            <div class="navbar__profile logged-in">

                <!-- Logged In Icon -->
                <div class="navbar__profile-pic nb-clt">
                    <img src="<%- user.photo %>" alt="Profile Photo">
                </div>

                <div class="navbar__profile-menu hidden">
                    <ul>
                        <li><p class="small">Hola <%- user.preferredName %></p></li>
                        <hr>
                        <li><a href="/es/account"><span>Mi cuenta</span></a></li>
                        <li><a href="#" id="nb-logout"><span>Cerrar sesión</span></a></li>
                    </ul>
                </div>

            </div>
            
            <!-- Profile Logged Out -->
            <div class="navbar__profile logged-out">

                <!-- Logged Out Icon -->
                <svg class="navbar__profile-icon nb-clt"><use href="/img/icons.svg#person-circle"></use></svg>
                
                <div class="navbar__profile-menu hidden">
                    <ul>
                        <li><a href="/es/login"><span>Crear una cuenta</span></a></li>
                        <li><a href="/es/login"><span>Acceso</span></a></li>
                    </ul>
                </div>

            </div>

            <!-- Call To Action -->
            <a href="/es/book" class="navbar__cta">Reservar Ahora</a>
        </div>

    </div>

    <!-- Hamburger Menu Only -->
    <div class="navbar__min">
        <div class="navbar__menu-icon">
            <span></span>
            <span></span>
        </div>
    </div>
    
</div>

<div class="nav-menu">
    
</div>

    <!-- Main Block (Scroll Container) -->
    <main data-scroll-container data-barba="container" data-barba-namespace="login">

        <!-- Fleet React App -->
        <div id="login-react-app"></div>
        
        <!-- Footer -->
        <footer class="footer" id="footer">

    <div class="footer__brands">
        <div class="footer__brand">
            <svg><use href="/img/icons.svg#logo"></use></svg>
            <p>United Travel LLC</p>
        </div>
        <a href="https://www.arjunsamir.com" target="_blank" class="footer__agency">Diseñado por Day FiftyFive</a>
    </div>

    <div class="footer__main">
        <div class="footer__content">
            <div class="footer__contact">
                <h5 class="white">Contacta con nosotros</h5>
                <hr>
                <a href="m&#97;i&#108;&#116;o&#58;&#104;e&#108;lo&#64;un%&#54;9&#116;ed&#116;&#37;72%&#54;1&#118;e&#108;&#46;llc">hello@unitedtravel.llc</a>
                <a href="tel:123-456-7890">(123) 456-7890</a>
            </div>
            <ul class="footer__links">
                <li><a href="/es/account">Mi Cuenta</a></li>
                <li><a href="/es/privacy">Política de Privacidad</a></li>
                <li><a href="/es/terms">Términos de Servicio</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <p>&copy; <script>document.write(new Date().getFullYear())</script> United Travel LLC. Reservados todos los derechos.</p>
        </div>
    </div>

</footer>

    </main>
    
    <!-- JavaScript -->
    <!-- Decalre Global Locale -->
<script>
    window.locale = "es";
    window.currentUser = JSON.parse('<%- JSON.stringify(user) %>');
</script>

<!-- External JavaScript Links -->
<script src="/js/index.js"></script> 

</body>

</html