<section class="cta">

    <div class="section__content animate-on-scroll reveal grow" data-scroll data-scroll-repeat>

        <h2>Book A Ride With Us</h2>

        <p>Ready to book a ride for your next trip to Orlando? You can book your ride online using our online booking system. You will be able to complete the entire booking process online so that when it’s time for your ride its effortless.</p>

        <a href="/book" class="btn lt-hollow lt-light lt-hover-fill lt-hover-primary-text dk-filled dk-primary dk-hover-opacity-75">Book Now</a>

    </div>

</section>