<footer class="footer">

    <div class="footer__branding">

        <svg><use xlink:href="img/icons.svg#logo"></use></svg>
        <h5>United Travel LLC</h5>

    </div>

    <a href="https://www.arjunsamir.com" class="footer__sponsor">Designed On Day FiftyFive</a href="https://www.arjunsamir.com">

    <div class="footer__main">

        <div class="footer__container">

            <div class="footer__contact">

                <h3>Contact Us</h3>
                <hr>
                <p><a href="mailto:info@unitedtravelflorida.com">info@unitedtravelflorida.com</a></p>
                <p><a href="tel:321-295-1104">(321) 295-1104</a></p>

            </div>

            <div class="footer__nav">
                <ul>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/fleet">Our Fleet</a></li>
                    <li><a href="/book">Book Now</a></li>
                </ul>
            </div>

            <div class="footer__copyright">

                <p>&copy; Copyright Day FiftyFive LLC 2020. All rights reserved.</p>

            </div>

        </div>

    </div>

</footer>