<nav class="navbar logged-in-na" id="navbar">

    <a href="/" class="navbar__brand" id="nav-brand">

        <svg><use xlink:href="img/icons.svg#logo"></use></svg>
        <h5>United Travel</h5>

    </a>

    <label for="nav-toggle" class="navbar__icon" id="nav-icon" aria-label="Toggle Navigation Menu">
        <svg><use xlink:href="img/icons.svg#menu"></use></svg>
        <svg><use xlink:href="img/icons.svg#close"></use></svg>
    </label>

    <input type="checkbox" id="nav-toggle" class="navbar__checkbox">

    <div class="navbar__mobile">

        <div class="navbar__mobile-account">

            <div class="logged-in">
                <a href="/my-account" class="logged-in__grid">
                    <div class="navbar__mobile-profile-photo" >
                        <img class="navbar-profile-pic" src="img/profile.png" alt="Profile Picture">
                    </div>
                    <div>
                        <h4 class="navbar-user-name">Arjun Patel</h4>
                        <p class="navbar-user-email">me@arjunsamir.com</p>
                    </div>
                </a>
                <a href="/log-out" class="carat-btn">
                    <h6>Log Out</h6>
                    <svg>
                        <use xlink:href="img/icons.svg#exit"></use>
                    <svg>
                </a>
            </div>

            <div class="logged-out">
                <h3>United Travel</h3>
                <a href="/create-account">Create Account</a>
                <a href="/login">Log In</a>
            </div>


        </div>

        <div class="navbar__mobile-links">
            <ul>
                <li><a class="nb-link" href="/">Home</a></li>
                <li><a class="nb-link" href="/services" id="services-mobile-link">Services</a></li>
                <li><a class="nb-link" href="/about">About Us</a></li>
                <li><a class="nb-link" href="/fleet">Our Fleet</a></li>
                <!-- <li><a class="nb-link" href="/search">My Trips</a></li> -->
                <li><a class="nb-link" href="/book">Book Now</a></li>
            </ul>
        </div>

        <div class="navbar__mobile-language">
            <hr>
            <h5>Language</h5>
            <ul>
                <li class="active"><a href="#">English</a></li>
                <li><a href="#">Español</a></li>
            </ul>
        </div>

    </div>

    <div class="navbar__main">

        <div class="navbar__action">
            <button>
                <svg><use xlink:href="img/icons.svg#globe"></use></svg>
                <span>EN</span>
            </button>
            <div class="navbar__dropdown">
                <ul>
                    <li><a href="#">Español</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
        </div>

        <span class="navbar__divider">|</span>

        <ul class="navbar__links">
            <li class="navbar__link"><a class="nb-link" href="/services">Services</a></li>
            <li class="navbar__link"><a class="nb-link" href="/about">About Us</a></li>
            <li class="navbar__link"><a class="nb-link" href="/fleet">Our Fleet</a></li>
        </ul>

        <div class="navbar__action tablet">
            <button>
                <svg><use xlink:href="img/icons.svg#menu"></use></svg>
                <span>Learn More</span>
            </button>
            <div class="navbar__dropdown">
                <ul>
                    <li><a class="nb-link" href="/services">Services</a></li>
                    <li><a class="nb-link" href="/about">About Us</a></li>
                    <li><a class="nb-link" href="/fleet">Our Fleet</a></li>
                </ul>
            </div>
        </div>

        <span class="navbar__divider">|</span>

        <div class="navbar__actions">
            <div class="navbar__action show-on-login">
                <button class="navbar__profile-photo">
                    <img class="navbar-profile-pic" src="img/profile.png" alt="User Profile Photo">
                </button>
                <div class="navbar__dropdown">
                    <ul>
                        <li><a href="/me">My Account</a></li>
                        <!-- <li><a href="/me">My Trips</a></li> -->
                        <li><a href="#" class="action-log-out">Log Out</a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar__action hide-on-login">
                <button>Account</button>
                <div class="navbar__dropdown">
                    <ul>
                        <li><a href="/create-account">Create Account</a></li>
                        <li><a href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- <a class="navbar__link nb-link hide-on-login" href="/search">My Trips</a> -->

            <a class="navbar__cta nb-link" href="/book">Book Now</a>
        </div>

    </div>


</nav>