<section id="contact" class="contact">
    <div class="contact__image">
        <picture>
            <source srcset="https://storage.googleapis.com/utravel-site-content/img/contact.webp" type="image/webp">
            <source srcset="https://storage.googleapis.com/utravel-site-content/img/contact.jpg" type="image/jpeg">
            <img src="https://storage.googleapis.com/utravel-site-content/img/contact.jpg" alt="Mercedes car coming out of a circle">
        </picture>
    </div>
    <div class="contact__card" data-scroll data-scroll-speed="2">
        <div class="content">
            <h2><%- title %></h2>
            <p><%- copy %></p>
            <a class="contact__method" href="mailto:{{ settings.contact.email }}" >
                <svg><use href="/img/icons.svg#email"></use></svg>
                <h5>{{ settings.contact.email }}</h5>
            </a>
            <a class="contact__method" href="tel:{{ settings.contact.phone }}">
                <svg><use href="/img/icons.svg#iphone"></use></svg>
                <h5>{{ settings.phone }}</h5>
            </a>
        </div>
    </div>
</section>
