<section id="contact" class="contact">
    <div class="contact__image">
        <picture>
            <source srcset="/img/contact.webp" type="image/webp">
            <source srcset="/img/contact.jpg" type="image/jpeg">
            <img src="/img/contact.jpg" alt="Mercedes car coming out of a circle">
        </picture>
    </div>
    <div class="contact__card" data-scroll data-scroll-speed="2">
        <div class="content">
            <h2><%- title %></h2>
            <p><%- copy %></p>
            <a class="contact__method" href="m&#97;i&#108;&#116;o&#58;&#104;e&#108;lo&#64;un%&#54;9&#116;ed&#116;&#37;72%&#54;1&#118;e&#108;&#46;llc" >
                <svg><use href="/img/icons.svg#email"></use></svg>
                <h5><%- email %></h5>
            </a>
            <a class="contact__method" href="tel:123-456-7890">
                <svg><use href="/img/icons.svg#iphone"></use></svg>
                <h5><%- phone %></h5>
            </a>
        </div>
    </div>
</section>
