<section class="cta">
    <div class="cta__card">
        <div class="content">
            <h2 class="white"><%- title %></h2>
            <p><%- copy %></p>
            <a href="#content" class="btn-pill filled primary"><%= cta %> </a>
        </div>
    </div>
</section>