<section class="section">

    <!-- Section Grid -->
    <div class="section__grid">

        <!-- Content Block -->
        <div class="content">
            <h2><%- title %></h2>
            <p><%- copy %></p>
            <a href="<%= path %>/fleet" class="btn-pill hollow dark"><%= cta %> </a>
        </div>

        <!-- Image -->
        <div class="section__image">
            <picture>
                <source srcset="/img/fleet.webp" type="image/webp">
                <source srcset="/img/fleet.png" type="image/png">
                <img src="/img/fleet.png" alt="Mercedes car coming out of a circle">
            </picture>
        </div>

    </div>

</section>