<section class="reviews">

    <h2>What our riders say about us.</h2>

    <div class="reviews__container">

        <!-- Reviewers/People -->
        <div class="reviews__reviewers">

            <!-- Reviewer #1 -->
            <div class="reviewer selected">
                <div class="reviewer__image">
                    <img src="/profile-photos/juan.jpg" alt="reviewer">
                </div>
                <div class="reviewer__info">
                    <h5>reviewer.name</h5>
                    <p>reviewer.date</p>
                </div>
            </div>
            
            <!-- Reviewer #2 -->
            <div class="reviewer">
                <div class="reviewer__image">
                    <img src="/profile-photos/juan.jpg" alt="reviewer">
                </div>
                <div class="reviewer__info">
                    <h5>reviewer.name</h5>
                    <p>reviewer.date</p>
                </div>
            </div>
            
            <!-- Reviewer #3 -->
            <div class="reviewer">
                <div class="reviewer__image">
                    <img src="/profile-photos/juan.jpg" alt="reviewer">
                </div>
                <div class="reviewer__info">
                    <h5>reviewer.name</h5>
                    <p>reviewer.date</p>
                </div>
            </div>

        </div>

        <!-- Review Body -->
        <div class="reviews__review">

            <!-- Review -->
            <div class="review">

                <!-- Review Title -->
                <h3>Comfortable & Smooth Ride</h3>

                <!-- Review Stars -->
                <div class="review__stars">
                    <svg><use href="/img/icons.svg#star"></use></svg>
                    <svg><use href="/img/icons.svg#star"></use></svg>
                    <svg><use href="/img/icons.svg#star"></use></svg>
                    <svg><use href="/img/icons.svg#star"></use></svg>
                    <svg><use href="/img/icons.svg#star-half"></use></svg>
                </div>

                <!-- Review Body -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis, justo sit amet placerat tempor, erat tortor aliquet purus, nec sodales velit lorem quis ante. Aliquam eu fringilla nisi. Duis ornare sagittis molestie. Mauris ornare ligula ac ex sollicitudin pellentesque. Quisque mollis nec libero nec pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

            </div>
        </div>

    </div>

</section>